body{
    height: 100vh;
    margin: 0;
    
    color: whitesmoke;
    background-color: #39383a;
}

img{
    display: flex;
    border-radius: 32px;
    height: 400px;
    width: 400px;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;

    border-radius: 16px;
    width: 400px;
}

button{
    width: 100px;
    height: 50px;  

    color:azure;
    font-weight: bolder;
    border-radius: 8px;
    border-style: hidden;
}

.rpsMain{
    height: 100%;
    display: flex;
    justify-content: center;
}   

.rpsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    padding: 16px;
    border-radius: 32px;
    background-color: #2b2a2c;
}

.inputs{
    width: 350px;
    padding: 16px;

    justify-content: space-between;
    display: flex;
}   

.outputs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 32px;
    width: 400px;
}

#playBtn{
    height: 100px;
    font-size: 24px;
    background-color: #39383a;
}

#playerScore{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    border-radius: 8px;
    background-color:#39383a;  
}

#computerScore{
    display: flex;
    align-items: center;
    justify-content: center;    
    
    width: 100px;
    height: 100px;

    border-radius: 8px;
    background-color: #39383a;
}

.Rock{
    background-color: #FF1212;
}
.Paper{
    background-color: #51D6FF;
}
.Scissors{
    background-color: #C2E812;
}